<p-card header="Настройки">
    <div class="settings">
        <p-fileUpload mode="basic" chooseLabel="Choose"></p-fileUpload>
        <div class="settings__items">
            <form [formGroup]="settingsForm" (ngSubmit)="submitSettings()">
                <textarea class="settings__textarea" pInputTextarea name="" cols="40" rows="5" formControlName="aboutMe"
                    placeholder="Обо мне"></textarea>
                <div class="settings__inputs">
                    <input type="text" pInputText formControlName="vk" placeholder="Vk"/>
                    <input type="text" pInputText formControlName="instagram" placeholder="Instagram"/>
                    <input type="text" pInputText formControlName="telegram" placeholder="Telegram"/>
                </div>
                <div class="settings__inputs">
                    <input type="text" pInputText formControlName="mail" placeholder="Mail"/>
                    <input type="text" pInputText formControlName="phone" placeholder="Телефон"/>
                    <input type="text" pInputText formControlName="phoneSrc" placeholder="Телефон_ссылка"/>
                </div>
                <p-button type="submit" label="Сохранить" [disabled]="settingsForm.invalid"></p-button>
            </form>
        </div>
    </div>
</p-card>