<section class="first">
    <div class="wrap first__wrap">
        <div class="first__txt">
            <h1 class="first__txt-title">
                Вязание как искусство
            </h1>
            <h2 class="first__txt-subtitle">Art & base knitwear</h2>
            <div class="first__txt-btns">
                <button class="first__btn-done">Уже готовое</button>
                <button class="first__btn-catalog">Коллекции</button>
            </div>
        </div>
        <div class="first__img">
            <img class="first__img-img" src="assets/firstScreen.png" alt="t-short">
        </div>
    </div>
</section>

<section class="wrap">
    <div class="about">
        <div class="about__img"></div>
        <div class="about__txt">
            <h2 class="about__txt-title">Обо мне</h2>
            <p class="about__txt-info">Я Яна и я вяжу.</p>
        </div>
    </div>
</section>

<section class="collection">
    <h2>Коллекции</h2>

</section>

<section class="exclusive">
    <div class="exclusive__bg"></div>
    <div class="exclusive__wrap">
        <h2 class="exclusive__title">Индивидуальные изделия</h2>
        <p class="exclusive__txt">Создание одежды по вашим пожеланиям.<br>
            Стоимость и детали обсуждаемы. </p>
        <div сlass="exclusive__info-wrap">
            <a class="exclusive__info exclusive__info-telegram">t.me/muza_kvant</a>
            <a class="exclusive__info exclusive__info-email" href="mailTo:test@mail.ru">test@mail.ru</a>
        </div>
        <button class="exclusive__btn" (click)="openModal(modalTemplate)">Обсудить</button>
    </div>
</section>

<ng-template #modalTemplate>
   <h2 class="exclusive__modal-header">Индивидуальный заказ</h2>
   <form action="" class="exclusive__modal-form">
    <input type="text" >
    <input type="text">
    <button class="exclusive__modal-btn">Хочу обсудить заказ</button>
   </form>

  </ng-template>


<section class="education">
    <div class="wrap">
        <h2 class="education__title">Обучение</h2>
        <p class="education__subtitle">Индивидуальное обучение. Как лично, так и онлайн.</p>
        <div class="education__block">
            <div class="education__block-item item">
                <img class="item__icon" src="/assets/icon_threads.svg" alt="">
                <p class="item__txt">Выбор материалов</p>
            </div>
            <div class="education__block-item item">
                <img class="item__icon" src="/assets/icon_needles.png" alt="">
                <p class="item__txt">Крой и построение изделий</p>
            </div>
            <div class="education__block-item item">
                <img class="item__icon" src="/assets/icon_textile-1.svg" alt="">
                <p class="item__txt">Миксование материалов</p>
            </div>
            <div class="education__block-item item">
                <img class="item__icon" src="/assets/icon_textile-2.svg" alt="">
                <p class="item__txt">Сочетаемость оттенков и фактур</p>
            </div>
        </div>
        <div class="education__btns">
            <button class="education__detail">Подробнее</button>
            <button class="education__enroll">Записаться</button>
        </div>
    </div>
</section>

<section class="wrap">
    <div class="faq">
        <h2 class="faq__title">FAQ</h2>
        <p class="faq__subtitle">Ответы на часто задаваемые вопросы. </p>
        <div class="faq__block">
            <img class="faq__block-img" src="/assets/faq_bg.png" alt="">
            <app-accordion class="faq__block-accordion">
                <app-accordion-item title="Сколько стоит?">lolololo</app-accordion-item>
                <app-accordion-item
                    title="Могу ли я сделать заказ, если живу не в России?">lolololo</app-accordion-item>
                <app-accordion-item title="Как осуществляется доставка?">lolololo</app-accordion-item>
                <app-accordion-item title="Каковы сроки изготовления изделия?">lolololo</app-accordion-item>
                <app-accordion-item title="А чем вы вяжите?">lolololo</app-accordion-item>
                <app-accordion-item title="Как проходит обучение?">lolololo</app-accordion-item>
            </app-accordion>
        </div>
    </div>

</section>

