<div class="navigation">
    <nav class="menu">
        <ul class="menu__ul">
            <li class="menu__element"><a class="menu__element-href" routerLink="/">Сайт</a></li>
            <li class="menu__element"><a class="menu__element-href" routerLink="">Заказы</a></li>
            <li class="menu__element"><a class="menu__element-href" routerLink="/admin/questions">Вопросы</a></li>
            <li class="menu__element"><a class="menu__element-href" routerLink="">Товары</a></li>
            <li class="menu__element"><a class="menu__element-href" routerLink="">Настройки</a></li>
        </ul>
    </nav>
</div>