<div class="collections" >
    <h1 class="collections__title wrap">Коллекции</h1>
    <div class="collections__cards" *ngFor="let collection of collections; let odd = odd">
        <div class="collection__card card">
            <div class="card__info" >
                <h3 сlass="card__info-item card__info-header">{{collection.name}}</h3>
                <p class="card__info-item card__info-description">{{collection.description}}</p>
                <a class="card__info-item card__info-src">Подробнее</a>
            </div>
            <img class="card__img" src="/assets/me.png" alt="{{collection.name}}">
        </div>
    </div>
</div>
