@import '/src/vars';
@import '/src/mixins';


.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 50px 0;

    &__info {
        background-color: $main;
        height: 300px;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 50px;
        order: 1;

        &-item {
            padding-top: 30px;
        }

        &-src {
            display: flex;
            align-items: center;
        }

        &-src::after {
            content: '';
            width: 15px;
            height: 7px;
            background: url('/assets/arrow1.png');
            display: block;
            margin-left: 10px;
        }
    }

    &__img {
        width: 350px;
        height: 350px;
        position: relative;
        right: 100px;
        object-fit: cover;
        order: 2;
    }
}



.odd1 {
    order: 1;
    right: -100px;
}

.odd2 {
    order: 2;
    padding-left: 200px;
}