<section>
    <h1 class="contact__title wrap">Контакты</h1>
    <div class="contact__blocks-wrap">
        <div class="contact__blocks wrap">

            <div class="contact__block">
                <img class="block__img" src="/assets/icon_phone.svg" alt="phone_icon">
                <div class="block__txt">
                    <p class="block__txt-title">Телефон</p>
                    <a class="block__txt-info" href="phone:+7986755466">8 986 675 54 66</a>
                </div>
            </div>

            <div class="contact__block">
                <img class="block__img" src="/assets/icon_email.png" alt="email_icon">
                <div class="block__txt">
                    <p class="block__txt-title">Email</p>
                    <a class="block__txt-info" href="mailTo:test@mail.ru">test@mail.ru</a>
                </div>
            </div>

            <div class="contact__block">
                <img class="block__img" src="/assets/icon_instagram.svg" alt="phone_icon">
                <div class="block__txt">
                    <p class="block__txt-title">Instagram</p>
                    <a class="block__txt-info" href="phone:+7986755466">Muza_kvantovaya</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="form__wrap">
    <div class="form">
        <h3 class="form__title">Форма для ваших вопросов</h3>
        <form class="form__inputs" [formGroup]="questionForm" (ngSubmit)="submitForm()">
            <input class="form__input" type="text" placeholder="Имя" formControlName="name">
            <input class="form__input" type="email" placeholder="Email" formControlName="email">
            <input class="form__input" type="phone" placeholder="Телефон" formControlName="phone">
            <textarea class="form__input" name="" id="" cols="30" rows="10" placeholder="Ваше сообщение"
                formControlName="comment"></textarea>
            <button class="from__btn" [disabled]="questionForm.invalid">Отправить</button>
        </form>
    </div>
</section>