<footer>
    <div class="wrap footer">
        <div class="footer__logo-wrap">
            <img class="footer__logo" src="/assets/logo.svg" alt="logo">
        </div>

        <div class="footer__links">
            <div class="links">
                <a class="link__href" href=""><img class="link__href-img" src="/assets/icon_email.png" alt="email"></a>
                <a class="link__href" href=""><img class="link__href-img" src="/assets/icon_telegram.svg"
                        alt="telegram"></a>
                <a class="link__href" href=""><img class="link__href-img" src="/assets/icon_instagram.svg"
                        alt="instagram"></a>
            </div>
            <p class="footer__coopyright">© Шарапова Я.А. 2023</p>
        </div>
        <div class="footer__txt">
            <a class="footer__policy" href="">Политика конфиденциальности</a>
            <p class="footer__create">Разработано CaptainLomik</p>
        </div>
    </div>
</footer>